<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Vue-js | Django | Crud App</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A simple crud app made with the vue js and django">

<meta name="keywords" content="vuejs, django, crudapp, restapi">
<!-- bootstap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- boostrap css -->
<style>
/* / Absolute Center Spinner / */
.loading {
position: fixed;
z-index: 999;
height: 2em;
width: 2em;
overflow: show;
margin: auto;
top: 0;
left: 0;
bottom: 0;
right: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: white;
}


/* / Transparent Overlay / */
.loading:before {
content: '';
display: block;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.3);
}

/* / :not(:required) hides these rules from IE9 and below / */
.loading:not(:required) {
/* / hide "loading..." text / */
font: 0/0 a;
color: transparent;
text-shadow: none;
background-color: transparent;
border: 0;
}

.loading:not(:required):after {
content: '';
display: block;
font-size: 10px;
width: 1em;
height: 1em;
margin-top: -0.5em;
-webkit-animation: spinner 1500ms infinite linear;
-moz-animation: spinner 1500ms infinite linear;
-ms-animation: spinner 1500ms infinite linear;
-o-animation: spinner 1500ms infinite linear;
animation: spinner 1500ms infinite linear;
border-radius: 0.5em;
-webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* / Animation / */

@-webkit-keyframes spinner {
0% {
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
}
100% {
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}
}
@-moz-keyframes spinner {
0% {
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
}
100% {
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}
}
@-o-keyframes spinner {
0% {
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
}
100% {
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}
}
@keyframes spinner {
0% {
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
}
100% {
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}
}
</style>

</head>

<body>
<div id="starting">
<div class="container">
<div class="row">
<h1>List of Products
    <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#addInventoryModal">Add Product</button>
</h1>
&emsp;
<table class="table">
<thead>
<tr>
<th scope="col">ID</th>
<th scope="col">Unit</th>
<th scope="col">Days</th>
<th scope="col">Selling Price</th>
<th scope="col">Post</th>
<th scope="col">Action</th>

</tr>
</thead>
<tbody>
<tr v-for="inventory in inventories">
<th scope="row">${inventory.id}</th>
<td scope="row">${inventory.unit}</td>
<td scope="row">${inventory.days}</td>
<td scope="row">${inventory.selling_price}</td>
<td><button class="btn btn-info" v-on:click="">Post Ad</button></td>
<td>
<button class="btn btn-info" v-on:click="getInventory1(inventory.id)">Edit</button>
<button class="btn btn-danger" v-on:click="deleteInventory(inventory.id)">Delete</button>
</td>
</tr>
</tbody>
</table>
<div v-if="prev_page!==null">
    <a v-on:click="backward" class="previous">&laquo; Previous</a>
  </div>

<div v-if="next_page!==null">
    <a v-on:click="forward" class="next">Next &raquo;</a>
</div>


<!-- Add Article Modal -->
<div class="modal fade" id="addInventoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Add Appointment</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form v-on:submit.prevent="addInventory()">
            <div class="modal-body">
                <div class="form-group">
                  <label for="stock_no">Stock Number</label>
                  <input
                    type="text"
                    class="form-control"
                    id="stock_no"
                    placeholder="Enter Stock No"
                    v-model="newInventory.stock_no"
                    required="required" >
                </div>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Enter Name"
                    v-model="newInventory.name"
                    required="required" >
                </div>
                <div class="form-group">
                        <label for="unit">Unit </label>
                        <input
                          class="form-control"
                          id="unit"
                          placeholder="Enter Unit"
                          v-model="newInventory.unit"
                          required="required"
                          >
                </div>
                <div class="form-group">
                      <label for="days">Days</label>
                      <input
                        type="text"
                        class="form-control"
                        id="days"
                        placeholder="Enter Days"
                        v-model="newInventory.days"
                        required="required" >
                </div>
                <div class="form-group">
                      <label for="selling_price">Selling Price</label>
                      <input
                        type="text"
                        class="form-control"
                        id="selling_price"
                        placeholder="Enter Selling Price"
                        v-model="newInventory.selling_price"
                        required="required" >
                </div>
                <div class="form-group">
                            <label for="special_feature">Special Feature </label>
                            <input
                              class="form-control"
                              id="special_feature"
                              placeholder="Enter Special Feature"
                              v-model="newInventory.special_feature"
                              required="required"
                              >
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity </label>
                    <input
                      class="form-control"
                      id="quantity"
                      placeholder="Enter Quantity"
                      v-model="newInventory.quantity"
                      required="required"
                      >
                  </div>
                <div class="form-group">
                <label for="owner">Owner </label>
                <input
                  class="form-control"
                  id="owner"
                  placeholder="Enter Owner Id"
                  v-model="newInventory.owner_id"
                  required="required"
                  >
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
            </form>
          </div>
        </div>
       <div class="loading" v-if="loading===true">Loading&#8230;</div>          
      </div>
        <!-- End of article modal -->

<!-- Edit Article Modal -->
<div class="modal fade" id="editInventoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit Inventory</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form v-on:submit.prevent="updateInventory()">
        <div class="modal-body">
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Enter Name"
                  v-model="currentInventory.name"
                  required="required" >
              </div>
              <div class="form-group">
                      <label for="unit">Unit </label>
                      <input
                        class="form-control"
                        id="unit"
                        placeholder="Enter Unit"
                        v-model="currentInventory.unit"
                        required="required"
                        >
              </div>
              <div class="form-group">
                    <label for="days">Days</label>
                    <input
                      type="text"
                      class="form-control"
                      id="days"
                      placeholder="Enter Days"
                      v-model="currentInventory.days"
                      required="required" >
              </div>
              <div class="form-group">
                    <label for="selling_price">Selling Price</label>
                    <input
                      type="text"
                      class="form-control"
                      id="selling_price"
                      placeholder="Enter Selling Price"
                      v-model="currentInventory.selling_price"
                      required="required" >
              </div>
              <div class="form-group">
                          <label for="special_feature">Special Feature </label>
                          <input
                            class="form-control"
                            id="special_feature"
                            placeholder="Enter Special Feature"
                            v-model="currentInventory.special_feature"
                            required="required"
                            >
              </div>
              <div class="form-group">
                  <label for="quantity">Quantity </label>
                  <input
                    class="form-control"
                    id="quantity"
                    placeholder="Enter Quantity"
                    v-model="currentInventory.quantity"
                    required="required"
                    >
                </div>
              <div class="form-group">
              <label for="owner">Owner </label>
              <input
                class="form-control"
                id="owner"
                placeholder="Enter Owner Id"
                v-model="currentInventory.owner_id"
                required="required"
                >
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div>
    </div>
    <div class="loading" v-if="loading===true">Loading&#8230;</div>
  </div>
  <!-- End of edit article modal -->



</div>
</div>
<div class="loading" v-if="loading===true">Loading&#8230;</div>

</div>

<!-- bootrtap js files -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- vue.js files -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>

<script type="text/javascript">

Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
new Vue({ 
el: '#starting',
delimiters: ['${','}'],
data: {
inventories: [],
count:0,
current_page:'http://127.0.0.1:8000/api/products/',
next_page:null,
prev_page:null,
loading: true,
currentInventory: {},
// message: null,
newInventory: { 'stock_no': null,
 'name': null,
 'unit':null,
 'days': null,
 'selling_price': null,
 'special_feature':null,
 'quantity': null,
 'owner_id': 1 },
// search_term: '',
},
mounted: function() {
 this.getInventory();
},
methods: {

    forward: function() {
      this.current_page = this.next_page
      this.getInventory()
    },
    backward: function() {
      this.current_page = this.prev_page
      this.getInventory()
    },
    getInventory: function() {
      this.loading = true;
      this.$http.get(this.current_page)
          .then((response) => {
            this.count = response.data["count"]
            this.next_page = response.data['next']
            this.prev_page = response.data['previous']
            this.inventories = response.data["results"];
            this.loading = false;
          })
          .catch((err) => {
          this.loading = false;
          console.log(err);
          })
    },
    addInventory: function() {
      this.loading = true;
      this.$http.post('http://127.0.0.1:8000/api/products/',this.newInventory)
          .then((response) => {
            this.loading = false;
            this.getInventory();
          })
          .catch((err) => {
            this.loading = false;
            console.log(err);
          })
    },
      getInventory1: function(id) {
      this.loading = true;
      this.$http.get(`http://127.0.0.1:8000/api/products/${id}/`)
          .then((response) => {
            this.currentInventory = response.data;
            $("#editInventoryModal").modal('show');
            this.loading = false;
          })
          .catch((err) => {
            this.loading = false;
            console.log(err);
          })
    },
    updateInventory: function() {
      this.loading = true;
      this.$http.put(`http://127.0.0.1:8000/api/products/${this.currentInventory.id}/`, this.currentInventory)
          .then((response) => {
            this.loading = false;
            this.currentInventory = response.data;
            this.getInventory();
          })
          .catch((err) => {
            this.loading = false;
            console.log(err);
          })
    },
    deleteInventory: function(id) {
          this.loading = true;
          this.$http.delete(`http://127.0.0.1:8000/api/products/${id}/`)
              .then((response) => {
                this.loading = false;
                this.getInventory();
              })
              .catch((err) => {
                this.loading = false;
                console.log(err);
              })
        }
}
});
</script>
</body>
</html>